<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jan-Erich Sigur; Veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Lehekülg mõnest Eesti filmist</h1>
	<hr>
	<hr>
	<ul>
		<li> <a href="/movies/filmiloend">Eesti filmide loend</a></li>
		<li><a href="/movies/addfilmperson">Filmitegelase lisamine</a></li>
		<li><a href="/movies/singlemovie">Üks film</a></li>
		<li> <a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>