<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jan-Erich Sigur; Veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1><%= h1 %></h1>
	<hr>
	<h6>Vanad sõnad</h6>
	<ul>
		<!-- Loob ejs tsükli, mis läbib array wisdom; väärtus puudub, = ei tule -->
		<% wisdom.forEach(function(sentence) { %>
			<li><%= sentence %></li>
		<% }); %>
	</ul>
	<hr>
	<ul>
		<li> <a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>